{% load static %}
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <a href=""><img src="{% static 'logo.png' %}" alt="Logo"></a>
        </div>
        
        <div class="footer-links">
            <a href="#about">About</a>
            <a href="#facebook">Facebook</a>
            <a href="#facebook">Instagram</a>
            <a href="#facebook">Twitter</a>
            <a href="#contact">Contact Us</a>
        </div>
        

    </div>
    <div class="footer-bottom">
        &copy; 2024 Aether. All rights reserved.
    </div>
</footer>
