{% extends 'main.html' %}

{% block content %}
    <div class="main-container">
        <h1 class="hello-user-text">EDIT PROFILE</h1>
        <div class="form-container">
        <form method="post" action="">
            {% csrf_token %}

            <label for="id_username">Username</label>
            {{ form.username }}
    
            <label for="id_firstname">First Name</label>
            {{ form.first_name }}
            
            <label for="id_lastname">Last Name</label>
            {{ form.last_name }}   
            
            <label for="id_email">Email</label>
            {{ form.email }}   

            <button type="submit">SAVE CHANGES</button>
        </form>
        </div>

        <div class="cancel-text-container">
            <div><a class="cancel-text" href="{% url 'view-profile' userID=request.user.id %}">CANCEL</a></div>
        </div>
    
        
    </div>

{% endblock %}

